<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Invitation.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
				<key>dateExpires</key>
				<string>10/22/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>23CBC338C8CC2D6D67A9C245CBA6E357A5DF9441</string>
						<key>dateExpires</key>
						<string>10/22/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJGZ765Q49</string>
						<key>name</key>
						<string>Ivane Matchavariani</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YJGZ765Q49.com.my-company.InvitationRoGo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>YJGZ765Q49</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>YJGZ765Q49.com.Invitation</string>
				</array>
			</dict>
			<key>name</key>
			<string>Invitation.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c30c450b-0a6c-4c01-affa-fdb4469cf6fc</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.my-company.InvitationRoGo</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YJGZ765Q49</string>
				<key>name</key>
				<string>Ivane Matchavariani</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
